{

"output": "__NAME_OF_OUTPUT__.mp4",

"settings": {

    "width": 1080,
    "height": 1920,
    "fps": 30,


    "font": "../fonts/folks/Folks-Bold.ttf",

    "text_style": {

        "fontsize": 80,
        "fontcolor": "white",
        "boxcolor": "black@0.45",
        "box": 1,
        "boxborderw": 18,
        "margin_x": 200,
        "margin_y": 300
    },


    "transition": "fade",
    "transition_duration": 0.25,


    "source_volume": 1.0,
    "music": "../music/alex-morgan-determination-motivational-speech-background-music-587391.mp3",
    "music_volume": 0.18,
    "music_start": "00:00",

    "preset": "ultrafast",
    "crf": 15,
    "audio_bitrate": "192k"
},


"clips": [

    {
        "file": "__CLIP_00000_CLIP__",

        "start": "00:00",
        "end": "00:00",

        "text": [
            "",
            ""
        ],
        "text_position": "top",

        "source_volume": 1.0,
        "music": null,
        "music_volume": 0.18
    },
]

}
